<div class="container">
    <div>
        <h1>About Us</h1>
    </div>
    <div>
        <h3> This is a story about an infatuation with aesthetics, nature and good living.

            It is principally a story about you, your outdoor furnishing needs, and your appetite for statement outdoor
            furniture and luxury patio amenities. Our store combines good taste with a clear understanding of what an
            easy to use and exclusive outdoor furniture provider should be.

            With the main audience composed of Hospitality Professionals, Indoor and Outdoor Designers as well as
            Residential Customers, we are armed with the finest-in-class commercial and residential outdoor furniture,
            ready to satisfy the eclectic cravings for beauty and comfort that we share with you.

            This is why we have selected only the brands that offer the highest levels of quality. From the chosen
            Eco-friendly materials, vibrant design and precise manufacturing to the white glove services, we are
            dedicated to ensuring your satisfaction with our products and services.

            Let’s see together how your patio will become a place for sublime leisure time and memorable outdoor
            experiences.</h3>
    </div>
    <img src="assets/banner-4.jpg" alt="banner" class="mt-4 mb-4">
    <div>
        <h1>Contact Us</h1>
    </div>
    <div class="contact mb-4">
        <div>
            <h2>
                <mat-icon>location_on</mat-icon>Adress
            </h2>
            <h4>
                Rynkebyvej 245<br>DK- 5350 Rynkeby<br>VAT: 10658837
            </h4>
        </div>
        <div>
            <h2>
                <mat-icon>phone</mat-icon> Phone
            </h2>
            <h4>
                Tel.: +45 6615 4560
            </h4>
        </div>
        <div>
            <h2>
                <mat-icon>email</mat-icon> Email
            </h2>
            <h4>
                test@gmail.com
            </h4>
        </div>
    </div>
</div>