.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    border: 1px solid green;
}

.img-fluid {
    width: 250px;
    height: 250px;
}

mat-card-title{
    padding-top: 1rem;
}

mat-card-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0;
}
mat-card{
    width: 99%;
    height: 100%;

}