<div *ngIf="room" class="container">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{room.roomName}}</mat-card-title>
          <mat-card-subtitle>{{room.roomType}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{room.roomMainImageUrl}}" alt="{{room.roomName}}">
        <mat-card-content>
            <h1 style="color:brown;">{{room.roomPrice | currency | perDay}}</h1>
          <p>
            {{room.roomDescription}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="addItemToBasket()" mat-button>Reserve</button>
        </mat-card-actions>
      </mat-card>
      
</div>
