<div *ngIf="product" class="container">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{product.productName}}</mat-card-title>
          <mat-card-subtitle>{{product.topology}}</mat-card-subtitle>
        </mat-card-header>
        <mat-grid-list cols="2" rowsHeight="2:1">
          <mat-grid-tile>
            <img mat-card-image src="{{product.imageUrl}}" alt="{{product.productName}}">
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card-content>
              <h1 style="color:brown;">{{product.price | currency}}</h1>
              <div>
                <a (click)="decrementQuantity()"><mat-icon style="cursor: pointer; font-size: 1.5em;">remove_circle</mat-icon></a>
                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
                <a (click)="incrementQuantity()"><mat-icon style="cursor: pointer; font-size: 1.5em;">add_circle</mat-icon></a>
                <button (click)="addItemToBasket()" mat-button><mat-icon>add_shopping_cart</mat-icon>Add to Card</button>
              </div>
              <br>
              <p>{{product.description}}</p>
              
          </mat-card-content>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-card-actions>

          <button mat-stroked-button color="primary" (click)="updateProduct(product)"><mat-icon>edit</mat-icon>Edit Product</button>
          <button mat-stroked-button color="warn" (click)="deleteProduct(product.id)"><mat-icon>delete</mat-icon>Delete</button>

        </mat-card-actions>
      </mat-card>
      
</div>
