<!-- <div class="card h-100 shadow-sm">
  <img src="{{room.roomMainImageUrl}}" alt="{{room.roomName}}" class="img-fluid">
  <div class="card-body d-flex flex-column">
    <a href="#">
      <h6 class="text-uppercase">{{room.roomName}}</h6>
    </a>
    <span class="mb-2">{{room.roomPrice | currency | perDay}}</span>
    <div class="btn-group mt-auto">
      <button type="button" class="btn btn-outline-secondary">View</button>
    </div>
  </div>
</div> -->
<mat-card>
  <img src="{{room.roomMainImageUrl}}" alt="{{room.roomName}}" class="img-fluid">
  <a href="#">
    <mat-card-title>{{room.roomName}}</mat-card-title>
  </a>
  <mat-card-content>
    <span>{{room.roomPrice | currency | perDay}}</span>
  </mat-card-content>
  <mat-card-actions class="button">
    <button mat-button>VIEW</button>
  </mat-card-actions>
</mat-card>
