<div class="container">
    <div class="row">
        <div class="col-8">
            <mat-stepper>
                <mat-step label="Address" [completed]="(checkoutForm.get('addressForm')).valid" errorMessage="Address is required">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                    <div>
                        <button mat-button matStepperNext [disabled]="!(checkoutForm.get('addressForm')).valid">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Delivery" [completed]="(checkoutForm.get('deliveryForm')).valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext [disabled]="!(checkoutForm.get('deliveryForm')).valid">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Review">
                    <app-checkout-review></app-checkout-review>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step label="Payment">
                    <app-checkout-payment></app-checkout-payment>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="submitOrder()">Submit</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
        <div class="col-4">
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div>