<div class="form">
    <h2>Edit your password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form">
        <app-text-input
          formControlName="oldPassword"
          [type]="'password'"
          [label]="'Current Password'"
        ></app-text-input>
        <app-text-input
          formControlName="newPassword"
          [type]="'password'"
          [label]="'New Password'"
        ></app-text-input>
        <button style="margin-top: 10px;" mat-flat-button [disabled]="!passwordForm.valid">Submit</button>
    </form>
</div>
