<div class="contain">
<carousel class="margin-top">
    <slide>
        <img src="assets/room-105.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/room-106.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/room-107.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/room-108.png" alt="fourth slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/room-109.png" alt="fifth slide" style="display: block; width: 100%;">
    </slide>
</carousel>
</div>
<section class="featured">
    <div class="featured-content">
        <h1>Find the best deals!</h1>
    </div>
</section>