<ul class="list-group">
  <li class="list-group-item" *ngFor="let employee of array">{{employee.name}} is a {{employee.constructor.name}}
    <span> with salary equal to {{employee.getSalary()}} </span>
    <span *ngIf="employee.empCode > 0">and  has {{employee.empCode}} tasks left</span>

  </li>
</ul>

<button class="btn btn-primary m-4"(click)="getRandomType()">Test Types</button>
<span class="text">{{displayString}}</span>
<br>
<!--<input type="text" class="p-2 m-2" [(ngModel)]="displayString">-->
<!--<input type="text" class="p-2 m-2" [value]="displayString">-->

