<ng-container *ngIf="basket$ | async">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0" style="background-color:#BDBDBD" scope="col">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th class="border-0" style="background-color:#BDBDBD" scope="col">
                        <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th class="border-0" style="background-color:#BDBDBD" scope="col">
                        <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0" style="background-color:#BDBDBD" scope="col">
                        <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th *ngIf="isBasket" class="border-0" style="background-color:#BDBDBD" scope="col">
                        <div class="py-2 text-uppercase"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (basket$ | async).items">
                <th scope="row">
                    <div class="p-2">
                        <img src="{{item.imageUrl}}" alt="{{item.productName}}" class="img-fluid" style="max-height: 50px">
                        <div class="ms-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                                <a routerLink="/store/{{item.id}}" class="text-dark" style="font-size: 18px;">{{item.productName}}</a>
                                <span class="text-muted font-weight-normal font-italic d-block">Topology: {{item.topology}}</span>
                            </h5>
                        </div>
                    </div>
                </th>
                <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                <td class="align-middle">
                    <div class="d-flex align-items-center">
                        <a *ngIf="isBasket" (click)="decrementItemQuantity(item)">
                            <mat-icon style="cursor: pointer; font-size: 1.5em; color:#9E9E9E;">remove_circle</mat-icon>
                        </a>
    
                        <span class="font-weight-bold" style="font-size: 1.5em;">
                                    {{item.quantity}}
                        </span>
                        <a *ngIf="isBasket" (click)="incrementItemQuantity(item)">
                            <mat-icon style="cursor: pointer; font-size: 1.5em; color:#9E9E9E;">add_circle</mat-icon>
                        </a>
    
                    </div>
                </td>
                <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
                <td class="align-middle text-center">
                    <a *ngIf="isBasket" class="text-danger" (click)="removeBasketItem(item)">
                        <mat-icon 
                            style="cursor: pointer; font-size: 2em;">delete</mat-icon>
                    </a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

