<div class="container">
    <div *ngIf="(basket$ | async) === null">
        <p>There are no basket in your items</p>
    </div>
    <div *ngIf="basket$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-aggregate
                        (decrement)="decrementItemQuantity($event)"
                        (increment)="incrementItemQuantity($event)"
                        (remove)="removeBasketItem($event)"
                        ></app-basket-aggregate>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6"><app-order-totals></app-order-totals>
                        <div class="checkout">
                        <button routerLink="/checkout" mat-raised-button color="accent">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

