<div [formGroup]="checkoutForm" class="my-container">
    <div>
        <h2 style="margin-top: 10px; margin-bottom: 20px;">Delivery Types</h2>
    </div>
    <div formGroupName="deliveryForm">
        <mat-radio-group formControlName="deliveryType">
            <mat-radio-button *ngFor="let type of deliveryTypes"
            id={{type.id}} 
            (click)="setDeliveryPrice(type)"
            value={{type.id}} 
            >{{type.title}} - {{type.price | currency}}
            <br>
            <span>{{type.description}}</span>
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
