<div class="navigation-bar">
<img src="/assets/logo3.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">

    <nav class="menu" style="font-size: larger;">
      <a class="menu-element" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}" >Home</a>
      <a class="menu-element" [routerLink]="['/store']" routerLinkActive="active">Store</a>
      <a class="menu-element" [routerLink]="['/about-us']" routerLinkActive="active">About Us</a>
    </nav>
    <div class="user">
      <a routerLink="/basket" class="cart-position">
        <mat-icon *ngIf="(basket$ | async) as basket" matBadge="{{basket.items.length}}" matBadgeColor="accent" class="cart">shopping_cart</mat-icon>
      </a>
      <ng-container *ngIf="(currentUser$ | async) === null">
        <button routerLink="/account/login" mat-raised-button class="login">Login</button>
        <button routerLink="/account/register" mat-button color="accent" class="sign-up">Sign Up</button>
      </ng-container>

      <ng-container *ngIf="(currentUser$ | async) as user">
        <button mat-button [matMenuTriggerFor]="menu" class="user-menu"><u>Welcome {{user.displayName}}</u><mat-icon>arrow_drop_down</mat-icon>
          </button>
        <mat-menu #menu="matMenu">
          <button routerLink="/basket" mat-menu-item><mat-icon>shopping_cart</mat-icon>Cart</button>
          <button (click)="editPassword()" mat-menu-item><mat-icon>edit</mat-icon>Edit Password</button>
          <button (click)="deleteAccount()" mat-menu-item><mat-icon>highlight_remove</mat-icon>Delete Account</button>
          <button (click)="logout()" mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
        </mat-menu>

      </ng-container>
    </div>
  </div>
