.cart-no{
    position: absolute;
    min-height: 22px;
    min-width: 22px;
    border-radius: 50%;
    font-size: 1em;
    background: lightblue;
    color: white;
    text-align: center;
    top: -12px;
    right: -12px;
}