<div class="form">
    <h2>Update {{data.productName}}</h2>
    <form [formGroup]="productUpdateForm" (ngSubmit)="onSubmit(product.id)" class="form">
        <app-text-input formControlName="productName" [label]="'Product Name'"></app-text-input>
        <app-text-input formControlName="price" [label]="'Price'"></app-text-input>
        <app-text-input formControlName="dimensions" [label]="'Dimensions'"></app-text-input>
        <app-text-input formControlName="description" [label]="'Description'"></app-text-input>

        <button style="margin-top: 10px;" mat-flat-button [disabled]="!productUpdateForm.valid">Submit</button>
    </form>
</div>

