<div class="form">
    <h2>Add a new product</h2>
    <form [formGroup]="productAddForm" (ngSubmit)="onSubmit()" class="form">
        <app-text-input formControlName="model" [label]="'Model'"></app-text-input>
        <app-text-input formControlName="productName" [label]="'Product Name'"></app-text-input>
        <app-text-input formControlName="imageUrl" [label]="'Image Url'"></app-text-input>
        <app-text-input formControlName="price" [label]="'Price'"></app-text-input>
        <app-text-input formControlName="topologyId" [label]="'Topology'"></app-text-input>
        <app-text-input formControlName="functionId" [label]="'Function'"></app-text-input>
        <app-text-input formControlName="dimensions" [label]="'Dimensions'"></app-text-input>
        <app-text-input formControlName="description" [label]="'Description'"></app-text-input>

        <button style="margin-top: 10px;" mat-flat-button [disabled]="!productAddForm.valid">Submit</button>
    </form>
</div>
