<div class="form">
    <h2>Add a new room</h2>
    <form [formGroup]="roomAddForm" (ngSubmit)="onSubmit()" class="form">
        <app-text-input formControlName="roomNumber" [label]="'Room Number'"></app-text-input>
        <app-text-input formControlName="roomName" [label]="'Room Name'"></app-text-input>
        <app-text-input formControlName="roomMainImageUrl" [label]="'Room Image Url'"></app-text-input>
        <app-text-input formControlName="roomPrice" [label]="'Room Price'"></app-text-input>
        <app-text-input formControlName="roomCapacity" [label]="'Room Capacity'"></app-text-input>
        <app-text-input formControlName="roomDescription" [label]="'Room roomDescription'"></app-text-input>

        <button style="margin-top: 10px;" mat-flat-button [disabled]="!roomAddForm.valid">Submit</button>
    </form>
</div>
